<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
  <body id="page-top" class="single">
    {{ partial "single_nav.html" . }}
    <section class="single-content row">
      <div class="col-xs-10 col-xs-offset-1">
        {{ .Content | markdownify }}
      </div>
    </section>
    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
